@use '../base/typography';

$font1: 'PT Sans', sans-serif;
$font2: 'Exo 2', sans-serif;

$fz-title: 52px;

$fw-600: 600;
$fw-700: 700;

$dark-color: #363738;
$darker-color: #6B6B6C;
$green-color: #0B7572;
$yellow-color: #FFCE50;
$white-color: #FFFFFF;
$grey-color: #D7D7DD;